@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.eot');
    src: url('font/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('font/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('font/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Element principaux de la page */
body
{
    font-family:'ralewaythin';
    width: 100%;
    margin: auto;
}
h2
{
    font-size: 1em;
    font-weight: bolder;
}
span
{
    font-weight: bold;
}
#bloc-page
{
    margin-left: 5em;
    margin-right: 5em;
}


/*Header*/
header
{
    display: flex;
    justify-content: space-between;
}
header img
{
    width: 125px;
    height: auto;
}
nav ul
{
    list-style-type: none;
    display: flex;
    width: 100%;
}

nav li
{
    margin: 11px;
}
nav a
{
    text-decoration: none;
}

.LienNav
{
    text-decoration: none;
    padding-top: 1.6em;
    color: black;   
}

.LienNav:hover
{
    color: #0065FC;
    border-top: 6px solid #0065FC; 
}

#inscription
{
    color: #0065FC;
    font-weight: bolder;
}

/*Titres*/


/*Search Bar*/
#localisation
{
    height: 2.35em;
    border: 2px solid #f2f2f2;
    font-family: 'ralewaythin';
    font-weight: bold;
    color: black;
    padding-left: 10px; 
}
::placeholder
{
    font-family: 'ralewaythin';
    font-weight: 900;
}
#search-bar
{  
   display: flex;
   align-items: center;
}
#search-bar i
{
    background-color: #f2f2f2;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 35px;
    height: 2.3em;
    text-align: center;
}
form
{
    display: flex;
}
form ::before
{
   position: relative;
   top: 10px;
}
#Rechercher
{
    background-color: #0065FC;  
    color: #ffffff;
    font-family: 'ralewaythin';
    font-weight: 900;
    font-size: 0.7em;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 3.3em;
}

/*Filtres*/
#Filtres
{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 2em;
}
#Filtres p
{
    align-items: center;    
    font-size: 0.9em;
}

#Filtres i
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 41px;
    height: 41px;    
}
.filtre ::before
{
    align-items: center;
    position: relative;
    left : 13px; top : 11px
}
.filtre
{
    display: flex;
    border: 2px solid #f2f2f2;
    margin-left: 30px;
    align-items: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 37px;
}
.filtre p
{
    padding-left: 10px;
    padding-right: 10px;
}
.filtre:hover
{
    background-color: #0065FC;
    color: #ffffff;
}
#BoutonFiltre
{
    display: flex;
}
#BoutonFiltre:hover i
{
    background-color: #ffffff;
}
i
{
    align-items: center;
}

/*Ligne information*/
#information
{
    margin-bottom: 2em; 
}
#information i
{
    color: #0065FC ;
    background-color: white;
}

/*Section*/
#Hébergement
{
    display: flex;
    justify-content: space-between;
}

/*Section hébergement*/
#H-Ville
{   
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    width: 60%;
    height: auto;
    padding: 15px 30px 15px 30px;
    
}
.liens-hebergement
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carte-hebergement
{
    background-color: #ffffff;
    border-radius: 1em;
    margin: 1em 0;
    width: 250px;
    min-width: 150px;
    height: 175px;
    padding: 4px 4px 0 4px;
    box-shadow: 0 0 0.3em rgb(114,109,109);
}

.photo-hebergement
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

article h3
{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -7px;
    font-size: 0.9em;
}

article p
{
    margin-left: 10px;
    font-size: 0.8em;
}
.info-hotel-hebergement
{
    line-height: 12px;
}

.star-hebergement
{
    display: flex;
    margin-left: 10px;
    font-size: small;
}
.star-hebergement i, .star-populaire i
{
    color: #0065FC;
}
#grey
{
    color: #f2f2f2;
}



/*Section Populaire*/
#les-plus-populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    border-radius: 1em;
    padding:15px 30px 15px 30px;
}
#titre-populaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lien-populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte-populaire
{
    display: flex;
    background-color: #ffffff;
    margin: 1em 0;
    width: auto;
    height: 100px;
    padding: 4px 0px 4px 4px;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgba(114,109,109,0.2);
}  

.photo-populaire
{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.info-hotel
{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    line-height: 12px;
}
.star-populaire
{
    margin-left: 10px;
    font-size: small;
    position: relative;
    top: 30px;
}


/*Activités à Marseille*/

#Activités
{
    margin-top: 5em;
}
.activités
{
    display: flex;
    justify-content: space-between;
}

.double
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 450px;
}

.carte-activité, .carte-activité2
{
    background-color: #ffffff;
    border-radius: 1em;
    box-shadow: 0 0 0.3em rgba(114,109,109,0.2);
}

.carte-activité
{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 450px;
}

.carte-activité2
{
    display: flex;
    flex-direction: column;
    width: 100%%;
    height: 200px;
}

.photo-activité
{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.photo-activité2
{
    width: 100%;
    height: 77%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;    
}

#Activités h3
{
    margin-left: 10px;
    margin-top: 9px;
    margin-bottom: -7px;
    font-size: 0.9em; 
}

/*Footer*/
#footer
{
    display: flex;
    justify-content: Space-between;
    background-color: #f2f2f2;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
}
#A-propos
{
    margin-left: 5em;
    width: 15%;
}

#Nos-Hébergements, #Assistance
{
    margin-left: 15em;
    width: 15%;
}
footer h3
{
    font-weight: bold;
}
footer p
{
    line-height: 1.5em;
}
 
@media screen and (max-width:1500px)
{
    #bloc-page
    {
        width: auto;
    }
    .carte-hebergement
    {
        width: 200px;
    }
}
@media screen and (max-width: 1300px)
{
    .carte-hebergement
    {
        width: 250px;
    }
}
@media screen and ( max-width: 1070px)
{
    
    .carte-hebergement
    {
        width: 250px;
    }
}
@media screen and (max-width: 1060px)
{
    #bloc-page
    {
        margin-left: 2em;
        margin-right: 2em;
    }
    #H-Ville
    {
        width: 45%;
        margin-right: 5em;
    }
    .carte-hebergement
    {
        width: 100%;
        height: 125px;
        display: flex;
        padding-bottom: 4px;
    }
    #les-plus-populaires
    {
        width: 45%;
    }
    #Activités
    {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0px 30px 0px 30px;
    }
    #footer
    {
        width: 100%;
    } 
    #Nos-Hébergements, #Assistance
    {
        margin-left: 10em;
    } 
    .info-hotel-hebergement
    {
        display: flex;
        flex-direction: column;
    } 
    .photo-hebergement
    {
        width: 50%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1em;
    }
    .star-hebergement
    {
        position: relative;
        top: 60px;
    }
}

@media screen and (max-device-width:420px)
{
    body
    {
        width: 100%;
        height: max-content;
    }
    #bloc-page
    {
        margin-left: 0;
        margin-right: 0;
    }
    #Hébergement
    {
        flex-direction: column-reverse;
    }   
    #les-plus-populaires
    {
        width: 100%;
        border-radius: 0;
    }
    .carte-populaire
    {
        height: 175px;
    }
    #H-Ville
    {
        width: 100%;
        background-color: #ffffff;
        border-radius: 0;
    }
    .carte-hebergement
    {
        height: 225px;
        flex-direction: column;
    }
    .liens-hebergement
    {
        flex-direction: column;
    }
    .info-hotel-hebergement
    {
        flex-direction: column;
    }
    .photo-hebergement
    {
        width: 100%;
        height: 50%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
    }
    .activités
    {
        flex-direction: column;
    }
    .carte-activité, .carte-activité2
    {
        height: 225px;
        width: 100%;
    }
    .double
    {
        width: 100%;
    }
    #footer
    {
        flex-direction: column;
    }
    #A-propos, #Nos-Hébergements, #Assistance
    {
        margin: 0;
        padding-left: 30px;
    }
    #Filtres
    {
        display: block;
    }
    #BoutonFiltre
    {

    }
}